.back{
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.settings{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--main-white);
}

.sectionList{
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .settingsSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid var(--border-main);
    background-color: var(--background-secondary);

    h2{
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 4px;

      svg{
        width: 32px;
        height: 32px;
        padding: 6px;
        vertical-align: top;
        border-radius: 6px;
        background: color-mix(in srgb, var(--main-color) 15%, transparent);
        color: var(--main-color);
      }
    }


    > div{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .settings{
    padding: 30px 5px 20px;
  }
}