:root {
  --background: #101210;
  --background-secondary: #1b1e1b;
  --background-tertiary: #232723;
  --border-main: #252725;
  --main-color: #aae5a4;
  --main-white: #d8e1d8;
  --main-dark: #1a1a1a;
  --link-color: #c6ceff;
  --link-color-visited: #8288aa;

  --accent-red: #FCA5A5;
  --accent-green: #86EFAC;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background: var(--background);
  color: var(--main-color);
  line-height: 1.5em;
}

svg{
  vertical-align: -6px;
}

a{
  color: var(--link-color);
  text-decoration: none;

  &:visited{
    color: var(--link-color-visited);
  }
}
