.switcher{
  display: flex;
  align-items: center;
  gap: 10px;

  .info{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: 15px;


    p:first-child{
      font-size: 1.2em;
    }
    p:last-child{
      opacity: 0.8;
    }
  }
}